<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dcb865">  <td>22/03/15 17:14:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarkAndMeasure.assertingMeasure()[pri:0, instance:com.qa.web.test.MarkAndMeasure@74d1dc36]">assertingMeasure</td> 
  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="dcb865">  <td>22/03/15 17:14:35</td>   <td>276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarkAndMeasure.measureTab()[pri:0, instance:com.qa.web.test.MarkAndMeasure@74d1dc36]">measureTab</td> 
  <td>main@223693919</td>   <td></td> </tr>
<tr bgcolor="dcb865">  <td>22/03/15 17:14:20</td>   <td>-14196</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MarkAndMeasure.setup()[pri:0, instance:com.qa.web.test.MarkAndMeasure@74d1dc36]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@223693919</td>   <td></td> </tr>
</table>
